<%- include("includes/header") %>
    <div class="light-grey">
        <div class="container py-5">
            <h2 class="mb-0">Sorry, requested record doen't exist. Get back to <a href="/">home page</a></h2>
        </div>
    </div>
<%- include("includes/footer") %>