<%- include("includes/header") %>
    <div class="light-grey">
        <div class="container py-5">
            <h2 class="mb-0">对不起，你查看的记录不存在，请返回<a href="/">主页</a></h2>
        </div>
    </div>
<%- include("includes/footer") %>