<%- include("includes/header") %>
    <div class="light-grey">
        <div class="center-box">
            <p>对不起，你查看的记录不存在，请返回<a href="/"><strong class="underline">主页</strong></a></p>
        </div>
    </div>
<%- include("includes/footer") %>