<%- include("includes/header")%>

    <section id="section-main" class="light-grey">
        <div class="container p-3 text-center">
            <!-- all these data is from res object, no connection with session data. user.usersymbol is the data from database -->
            <h2>用户<%= user.usersymbol %>,欢迎来到我们的APP</h2>
            <p class="mb-0 pt-3">惟在爱里持守着真实，我们就得以在一切事上长到祂，就是元首基督里面；本于祂，全身借着每一丰富供应的节，并借着每一部分依其度量而有的功用，得以联络在一起，并结合在一起，便叫身体渐渐长大，以致在爱里把自己建造起来<span>（以弗所书4章15-16节）</span></p>
        </div>
    </section>

<%- include("includes/footer")%>