<%- include("includes/header")%>

    <section id="section-main" class="light-grey">
        <div class="container p-3 text-center">
            <% errors.forEach((error) => { %>
                <div class="alert alert-danger">
                    <%= error %>
                </div>
            <% }) %>
            <!-- all these data is from res object, no connection with session data. user.usersymbol is the data from database -->
            <h2>User<%= user.usersymbol %>, welcome to our APP</h2>
            <p class="mb-0 pt-3">\Lorem ipsum dolor sit amet consectetur adipisicing elit. Temporibus, provident laborum omnis eligendi repudiandae non minus commodi culpa nisi eos vitae obcaecati repellat cupiditate quae. Laborum nemo expedita esse consequuntur quis veniam, doloremque quo molestiae ipsum reiciendis? Numquam, repellat consequatur.</p>
        </div>
    </section>

<%- include("includes/footer")%>