<%- include("includes/header") %>

        <section id="content">
            <div class="light-grey padding-tb">
                <% mistakes.forEach(function(mistake) { %>
                    <div class="mistake-message"><%= mistake %></div>
                <% }) %>
            </div>
            <div class="flex-row light-grey">
                <div class="column">
                    <h2>团体生活需要你！</h2>
                    <p>这是我们的家，是我们共同经营的美地，这地的出产丰富，有小麦、大麦、葡萄树、无花果树、石榴树、有铁有铜。</p>
                </div>
                <div class="column">
                    <% regErrors.forEach(function(regError) { %>
                        <div class="mistake-message"><%= regError %></div>
                    <% }) %>
                    
                    <h2>请注册用户</h2>
                    <form action="/register" method="POST">
                        <div class="reg-form-margin">
                            <label for="username" class="label-block">用户名</label>
                            <input type="text" name="username" id="username" placeholder="请选择一个用户名">
                        </div>
                        <div class="reg-form-margin">
                            <label for="email" class="label-block">邮箱</label>
                            <input type="email" name="email" id="email" placeholder="输入电子邮箱">
                        </div>
                        <div class="reg-form-margin">
                            <label for="password" class="label-block">密码</label>
                            <input type="password" name="password" id="password" placeholder="输入密码">
                        </div>
                        <div class="reg-form-margin">
                            <button type="submit" class="btn btn-reg">注册</button>
                        </div>
                    </form>  
                </div>
            </div>
        </section>

<%- include("includes/footer")%>