<%- include("includes/header") %>

        <section id="content">
            <div class="pt-2 light-grey">
                <% mistakes.forEach(function(mistake) { %>
                    <div class="container">
                        <div class="alert alert-danger mb-0 p-2 text-center"><%= mistake %></div>
                    </div>  
                <% }) %>
            </div>
            <div class="d-flex flex-column flex-md-row align-items-center text-center pt-4 light-grey">
                <div class="container px-5 my-2">
                    <h2>团体生活需要你！</h2>
                    <p>这是我们的家，是我们共同经营的美地，这地的出产丰富，有小麦、大麦、葡萄树、无花果树、石榴树、有铁有铜。</p>
                </div>
                <div class="container px-5 my-2">
                    <% regErrors.forEach(function(regError) { %>
                        <div class="alert alert-danger p-2 text-center"><%= regError %></div>
                    <% }) %>
                    
                    <h2>请注册用户</h2>
                    <form action="/register" method="POST">
                        <div class="mx-4 mb-2">
                            <label for="username" class="form-label">用户名</label>
                            <input type="text" name="username" id="username" class="form-control" placeholder="请选择一个用户名">
                        </div>
                        <div class="mx-4 mb-2">
                            <label for="email" class="form-label">邮箱</label>
                            <input type="email" name="email" id="email" class="form-control" placeholder="输入电子邮箱">
                        </div>
                        <div class="mx-4 mb-2">
                            <label for="password" class="form-label">密码</label>
                            <input type="password" name="password" id="password" class="form-control" placeholder="输入密码">
                        </div>
                        <div class="mx-4 mb-2">
                            <button type="submit" class="btn btn-primary">注册</button>
                        </div>
                    </form>  
                </div>
            </div>
        </section>

<%- include("includes/footer")%>